In [5]:
import pandas as pd
import numpy as np
import os
import glob
import json
from pathlib import Path

# path = "~/uni/exjobb/data_processing/data"

In [32]:
path = os.getcwd()
path = os.path.abspath(os.path.join(path, os.pardir))
data_path = path + '/data_processing' + '/data' + '/game_info'
# print(data_path)
match_paths = glob.glob(os.path.join(data_path, "*.json"))
match_ids = [os.path.splitext(os.path.basename(path))[0] for path in match_paths]

frames_dfs = []

for match_id in match_ids[0:1]:
    file_path_match = f"{data_path}/{match_id}.json"
    with open(file_path_match, 'r') as f:
        match_data = json.load(f)
        
    df = pd.json_normalize(match_data, sep='_')
    # print(df['team_home_players'][0])
    
    tmp = pd.DataFrame(df['team_home_players'])
    print(tmp)

                                                  0   \
0  {'name': 'Niklas Gunnarsson', 'jersey_number': 2}

                                              1   \
0  {'name': 'Yahya Kalley', 'jersey_number': 14}

                                                  2   \
0  {'name': 'Ari Freyr Skúlason', 'jersey_number'...

                                           3   \
0  {'name': 'Maic Sema', 'jersey_number': 23}

                                                  4   \
0  {'name': 'Kristoffer Khazeni', 'jersey_number'...

                                                 5   \
0  {'name': 'Wille Jakobsson', 'jersey_number': 32}

                                               6   \
0  {'name': 'Jesper Ceesay', 'jersey_number': 21}

                                                  7   \
0  {'name': 'Fritiof Hellichius', 'jersey_number'...

                                                  8   \
0  {'name': 'Andri Lucas Gudjohnsen', 'jersey_num...

                                              9   \
0  {'name': 'Oscar Jansson', 'jersey_number': 1}

                                                  10  \
0  {'name': 'Daniel Fritz Eid', 'jersey_number': 20}

                                                  11  \
0  {'name': 'Marco Lund Nielsen', 'jersey_number'...

                                                12  \
0  {'name': 'Anton Eriksson', 'jersey_number': 24}

                                                13  \
0  {'name': 'Marcus Baggesen', 'jersey_number': 3}

                                              14  \
0  {'name': 'Jacob Ortmark', 'jersey_number': 7}

                                                 15  \
0  {'name': 'Arnor Traustason', 'jersey_number': 9}

                                                 16  \
0  {'name': 'Laorent Shabani', 'jersey_number': 17}

                                                  17  \
0  {'name': 'Vito Hammershoj-Mistrati', 'jersey_n...

                                                  18  \
0  {'name': 'Victor Stange Lind', 'jersey_number'...

                                                  19
0  {'name': 'Christoffer Nyman', 'jersey_number': 5}

In [26]:
df.head()

,_created,_modified,id,time_start,activity,deployment_state,competition,team_home_name,team_away_name,team_away_players,...,team_away_lineup_4,team_away_lineup_5,team_away_lineup_6,team_away_lineup_7,team_away_lineup_8,team_away_lineup_9,team_away_lineup_10,team_away_lineup_11,name,jersey_number
0,2023-07-17T00:29:02.603Z,2023-07-23T15:02:55.619Z,3a94e01f-2f52-456d-91c3-d277b68ec70a,2023-07-23T13:00:00.000Z,soccer,Destroyed,Allsvenskan,IFK Norrköping FK,Degerfors IF,"[{'name': 'Jonas Olsson', 'jersey_number': 25}...",...,29.0,7.0,5.0,16.0,4.0,11.0,8.0,13.0,Niklas Gunnarsson,2
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yahya Kalley,14
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ari Freyr Skúlason,18
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maic Sema,23
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kristoffer Khazeni,26

In [12]:
for i in range(len(frames_dfs)):
    frames_dfs[i].drop(columns=['minute', 'second', 'ball_in_motion', 'a_x', 'a_y', 'role', 'distance_ran', 'events'], inplace=True)

In [13]:
print(frames_dfs[0].columns)

Index(['team', 'team_name', 'team_direction', 'jersey_number', 'player', 'x',
       'y', 'frame', 'period', 'objects_tracked', 'v_x', 'v_y', 'x_future',
       'y_future', 'offside', 'match_id'],
      dtype='object')

In [27]:
import sqlite3


path_to_db = path + '/data_processing' + '/data' + '/2sec.sqlite'
# Connect to the SQLite database
conn = sqlite3.connect(path_to_db)

# Iterate over each DataFrame in frames_dfs and write it to the database
for i, df in enumerate(frames_dfs):
    table_name = f'game_info_table'
    df.to_sql(table_name, conn, if_exists='append')

# Close the database connection
conn.close()

InterfaceError: Error binding parameter 9 - probably unsupported type.

    team_direction                       player      x      y  frame  period  \
0            right            Samuel Leach Holm  40.67  31.46      0       1
1            right              Ludvig Fritzson  49.97  26.45      0       1
2            right               Richie Omorowa  58.57  42.88      0       1
3            right                André Calisir  34.17  21.92      0       1
4            right              Amadeus Sögaard  34.44  33.60      0       1
..             ...                          ...    ...    ...    ...     ...
495           left    Jakob Voelkerling Persson  45.74  38.26     21       1
496           left                  Adam Vikman  47.59  25.98     21       1
497           left  Marcus Klingenberg Mathisen  40.08  25.41     21       1
498           left               Aron Bjarnason  31.51  42.28     21       1
499           left              Daniel Stensson  58.86  48.27     21       1

     ms_since_start
0                 0
1                 0
2                 0
3                 0
4                 0
..              ...
495             840
496             840
497             840
498             840
499             840

[500 rows x 7 columns]

In [ ]:
# df_bp_iks_short.to_json(os.path.join(data_path, "bp_vs_iks_short.json"), orient="records", indent=4)